<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psim.web.cmm.mapper.CoAddrMapper">

    <select id="selectAllCoAddrs" resultType="com.psim.web.cmm.vo.CoAddrVO">
        SELECT * FROM tb_co_addr
    </select>

    <select id="selectCoAddrById" parameterType="string" resultType="com.psim.web.cmm.vo.CoAddrVO">
        SELECT * FROM tb_co_addr WHERE manage_no = #{manageNo}
    </select>

    <insert id="insertCoAddr" parameterType="com.psim.web.cmm.vo.CoAddrVO">
        INSERT INTO tb_co_addr (
            manage_no, seq, dong_cd, sigungu, dong, li, san_yn, lnbr_mnnm, lnbr_slno,
            reprsent_yn, roadnm_cd, roadnm, build_mnnm, build_slno, build_nm,
            detail_build_nm, build_dc, sigungu_build_nm, adm_dong_cd, adm_dong_nm,
            zip, zip_seq
        ) VALUES (
            #{manageNo}, #{seq}, #{dongCd}, #{sigungu}, #{dong}, #{li}, #{sanYn}, #{lnbrMnnm}, #{lnbrSlno},
            #{reprsentYn}, #{roadnmCd}, #{roadnm}, #{buildMnnm}, #{buildSlno}, #{buildNm},
            #{detailBuildNm}, #{buildDc}, #{sigunguBuildNm}, #{admDongCd}, #{admDongNm},
            #{zip}, #{zipSeq}
        )
    </insert>

    <update id="updateCoAddr" parameterType="com.psim.web.cmm.vo.CoAddrVO">
        UPDATE tb_co_addr
        <set>
            <if test="seq != null">seq = #{seq},</if>
            <if test="dongCd != null">dong_cd = #{dongCd},</if>
            <if test="sigungu != null">sigungu = #{sigungu},</if>
            <if test="dong != null">dong = #{dong},</if>
            <if test="li != null">li = #{li},</if>
            <if test="sanYn != null">san_yn = #{sanYn},</if>
            <if test="lnbrMnnm != null">lnbr_mnnm = #{lnbrMnnm},</if>
            <if test="lnbrSlno != null">lnbr_slno = #{lnbrSlno},</if>
            <if test="reprsentYn != null">reprsent_yn = #{reprsentYn},</if>
            <if test="roadnmCd != null">roadnm_cd = #{roadnmCd},</if>
            <if test="roadnm != null">roadnm = #{roadnm},</if>
            <if test="buildMnnm != null">build_mnnm = #{buildMnnm},</if>
            <if test="buildSlno != null">build_slno = #{buildSlno},</if>
            <if test="buildNm != null">build_nm = #{buildNm},</if>
            <if test="detailBuildNm != null">detail_build_nm = #{detailBuildNm},</if>
            <if test="buildDc != null">build_dc = #{buildDc},</if>
            <if test="sigunguBuildNm != null">sigungu_build_nm = #{sigunguBuildNm},</if>
            <if test="admDongCd != null">adm_dong_cd = #{admDongCd},</if>
            <if test="admDongNm != null">adm_dong_nm = #{admDongNm},</if>
            <if test="zip != null">zip = #{zip},</if>
            <if test="zipSeq != null">zip_seq = #{zipSeq},</if>
        </set>
        WHERE manage_no = #{manageNo}
    </update>

    <delete id="deleteCoAddr" parameterType="string">
        DELETE FROM tb_co_addr WHERE manage_no = #{manageNo}
    </delete>
</mapper>
