<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psim.web.cmm.mapper.CoAddrJibunMapper">

    <select id="selectAllCoAddrJibuns" resultType="com.psim.web.cmm.vo.CoAddrJibunVO">
        SELECT * FROM tb_co_addr_jibun
    </select>

    <select id="selectCoAddrJibunById" parameterType="string" resultType="com.psim.web.cmm.vo.CoAddrJibunVO">
        SELECT * FROM tb_co_addr_jibun WHERE manage_no = #{manageNo}
    </select>

    <insert id="insertCoAddrJibun" parameterType="com.psim.web.cmm.vo.CoAddrJibunVO">
        INSERT INTO tb_co_addr_jibun (
            manage_no, seq, dong_cd, sigungu, dong, li, san_yn, lnbr_mnnm, lnbr_slno, reprsent_yn
        ) VALUES (
            #{manageNo}, #{seq}, #{dongCd}, #{sigungu}, #{dong}, #{li}, #{sanYn}, #{lnbrMnnm}, #{lnbrSlno}, #{reprsentYn}
        )
    </insert>

    <update id="updateCoAddrJibun" parameterType="com.psim.web.cmm.vo.CoAddrJibunVO">
        UPDATE tb_co_addr_jibun
        <set>
            <if test="seq != null">seq = #{seq},</if>
            <if test="dongCd != null">dong_cd = #{dongCd},</if>
            <if test="sigungu != null">sigungu = #{sigungu},</if>
            <if test="dong != null">dong = #{dong},</if>
            <if test="li != null">li = #{li},</if>
            <if test="sanYn != null">san_yn = #{sanYn},</if>
            <if test="lnbrMnnm != null">lnbr_mnnm = #{lnbrMnnm},</if>
            <if test="lnbrSlno != null">lnbr_slno = #{lnbrSlno},</if>
            <if test="reprsentYn != null">reprsent_yn = #{reprsentYn},</if>
        </set>
        WHERE manage_no = #{manageNo}
    </update>

    <delete id="deleteCoAddrJibun" parameterType="string">
        DELETE FROM tb_co_addr_jibun WHERE manage_no = #{manageNo}
    </delete>
</mapper>
