<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psim.web.cmm.mapper.CoCodeMapper">

    <select id="selectAllCoCodes" resultType="com.psim.web.cmm.vo.CoCodeVO">
        SELECT * FROM tb_co_code
    </select>

    <select id="selectCoCodeById" resultType="com.psim.web.cmm.vo.CoCodeVO">
        SELECT * FROM tb_co_code WHERE group_cd = #{groupCd} AND common_cd = #{commonCd}
    </select>

    <insert id="insertCoCode" parameterType="com.psim.web.cmm.vo.CoCodeVO">
        INSERT INTO tb_co_code (
            group_cd, common_cd, common_cd_nm, common_cd_desc, rgst_id, reg_dt, rgst_ip_addr,
            updusr_id, updt_dt, updusr_ip_addr, use_yn, sort_ordr
        ) VALUES (
            #{groupCd}, #{commonCd}, #{commonCdNm}, #{commonCdDesc}, #{rgstId}, #{regDt}, #{rgstIpAddr},
            #{updusrId}, #{updtDt}, #{updusrIpAddr}, #{useYn}, #{sortOrdr}
        )
    </insert>

    <update id="updateCoCode" parameterType="com.psim.web.cmm.vo.CoCodeVO">
        UPDATE tb_co_code
        <set>
            <if test="commonCdNm != null">common_cd_nm = #{commonCdNm},</if>
            <if test="commonCdDesc != null">common_cd_desc = #{commonCdDesc},</if>
            <if test="rgstId != null">rgst_id = #{rgstId},</if>
            <if test="regDt != null">reg_dt = #{regDt},</if>
            <if test="rgstIpAddr != null">rgst_ip_addr = #{rgstIpAddr},</if>
            <if test="updusrId != null">updusr_id = #{updusrId},</if>
            <if test="updtDt != null">updt_dt = #{updtDt},</if>
            <if test="updusrIpAddr != null">updusr_ip_addr = #{updusrIpAddr},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="sortOrdr != null">sort_ordr = #{sortOrdr},</if>
        </set>
        WHERE group_cd = #{groupCd} AND common_cd = #{commonCd}
    </update>

    <delete id="deleteCoCode">
        DELETE FROM tb_co_code WHERE group_cd = #{groupCd} AND common_cd = #{commonCd}
    </delete>
</mapper>
