<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psim.web.cmm.mapper.CoZipMapper">

    <select id="selectAllCoZips" resultType="com.psim.web.cmm.vo.CoZipVO">
        SELECT * FROM tb_co_zip
    </select>

    <select id="selectCoZipById" resultType="com.psim.web.cmm.vo.CoZipVO">
        SELECT * FROM tb_co_zip WHERE zip = #{zip} AND zip_seq = #{zipSeq}
    </select>

    <insert id="insertCoZip" parameterType="com.psim.web.cmm.vo.CoZipVO">
        INSERT INTO tb_co_zip (
            zip, sido, sigungu, dong, li, dosari, stln, edln, zip_seq
        ) VALUES (
            #{zip}, #{sido}, #{sigungu}, #{dong}, #{li}, #{dosari}, #{stln}, #{edln}, #{zipSeq}
        )
    </insert>

    <update id="updateCoZip" parameterType="com.psim.web.cmm.vo.CoZipVO">
        UPDATE tb_co_zip
        <set>
            <if test="sido != null">sido = #{sido},</if>
            <if test="sigungu != null">sigungu = #{sigungu},</if>
            <if test="dong != null">dong = #{dong},</if>
            <if test="li != null">li = #{li},</if>
            <if test="dosari != null">dosari = #{dosari},</if>
            <if test="stln != null">stln = #{stln},</if>
            <if test="edln != null">edln = #{edln},</if>
        </set>
        WHERE zip = #{zip} AND zip_seq = #{zipSeq}
    </update>

    <delete id="deleteCoZip">
        DELETE FROM tb_co_zip WHERE zip = #{zip} AND zip_seq = #{zipSeq}
    </delete>
</mapper>
