<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psim.web.prk.mapper.BizPerPrklotInfoMapper">

    <select id="selectAllBizPerPrklotInfos" resultType="com.psim.web.prk.vo.BizPerPrklotInfoVO">
        SELECT * FROM tb_biz_per_prklot_info
    </select>

    <select id="selectBizPerPrklotInfoById" parameterType="int" resultType="com.psim.web.prk.vo.BizPerPrklotInfoVO">
        SELECT * FROM tb_biz_per_prklot_info WHERE biz_info_sn = #{bizInfoSn}
    </select>

    <insert id="insertBizPerPrklotInfo" parameterType="com.psim.web.prk.vo.BizPerPrklotInfoVO">
        INSERT INTO tb_biz_per_prklot_info (
            biz_info_sn, prk_plce_manage_no, biz_survey_sn, biz_target_yn, reg_dt, rgst_id,
            rgst_ip_addr, updt_dt, updusr_id, updusr_ip_addr
        ) VALUES (
            #{bizInfoSn}, #{prkPlceManageNo}, #{bizSurveySn}, #{bizTargetYn}, #{regDt}, #{rgstId},
            #{rgstIpAddr}, #{updtDt}, #{updusrId}, #{updusrIpAddr}
        )
    </insert>

    <update id="updateBizPerPrklotInfo" parameterType="com.psim.web.prk.vo.BizPerPrklotInfoVO">
        UPDATE tb_biz_per_prklot_info
        <set>
            <if test="prkPlceManageNo != null">prk_plce_manage_no = #{prkPlceManageNo},</if>
            <if test="bizSurveySn != null">biz_survey_sn = #{bizSurveySn},</if>
            <if test="bizTargetYn != null">biz_target_yn = #{bizTargetYn},</if>
            <if test="regDt != null">reg_dt = #{regDt},</if>
            <if test="rgstId != null">rgst_id = #{rgstId},</if>
            <if test="rgstIpAddr != null">rgst_ip_addr = #{rgstIpAddr},</if>
            <if test="updtDt != null">updt_dt = #{updtDt},</if>
            <if test="updusrId != null">updusr_id = #{updusrId},</if>
            <if test="updusrIpAddr != null">updusr_ip_addr = #{updusrIpAddr},</if>
        </set>
        WHERE biz_info_sn = #{bizInfoSn}
    </update>

    <delete id="deleteBizPerPrklotInfo" parameterType="int">
        DELETE FROM tb_biz_per_prklot_info WHERE biz_info_sn = #{bizInfoSn}
    </delete>
</mapper>
