<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psim.web.prk.mapper.OffstrPrklotOperInfoMapper">

    <select id="selectAllOffstrPrklotOperInfos" resultType="com.psim.web.prk.vo.OffstrPrklotOperInfoVO">
        SELECT * FROM tb_offstr_prklot_oper_info
    </select>

    <select id="selectOffstrPrklotOperInfoById" parameterType="int" resultType="com.psim.web.prk.vo.OffstrPrklotOperInfoVO">
        SELECT * FROM tb_offstr_prklot_oper_info WHERE oper_info_sn = #{operInfoSn}
    </select>

    <insert id="insertOffstrPrklotOperInfo" parameterType="com.psim.web.prk.vo.OffstrPrklotOperInfoVO">
        INSERT INTO tb_offstr_prklot_oper_info (
            oper_info_sn, prk_plce_info_sn, prk_plce_manage_no, oper_day_cd, weekday_oper_time,
            sat_oper_time, holiday_oper_time, weekday_close_time, sat_close_time, holiday_close_time,
            bsc_time, bsc_charge, add_time, add_charge, day_ticket_time, day_ticket_charge,
            month_ticket_charge, pay_mthd_cd, rmrk, reg_dt, rgst_id, rgst_ip_addr,
            updt_dt, updusr_id, updusr_ip_addr
        ) VALUES (
            #{operInfoSn}, #{prkPlceInfoSn}, #{prkPlceManageNo}, #{operDayCd}, #{weekdayOperTime},
            #{satOperTime}, #{holidayOperTime}, #{weekdayCloseTime}, #{satCloseTime}, #{holidayCloseTime},
            #{bscTime}, #{bscCharge}, #{addTime}, #{addCharge}, #{dayTicketTime}, #{dayTicketCharge},
            #{monthTicketCharge}, #{payMthdCd}, #{rmrk}, #{regDt}, #{rgstId}, #{rgstIpAddr},
            #{updtDt}, #{updusrId}, #{updusrIpAddr}
        )
    </insert>

    <update id="updateOffstrPrklotOperInfo" parameterType="com.psim.web.prk.vo.OffstrPrklotOperInfoVO">
        UPDATE tb_offstr_prklot_oper_info
        <set>
            <if test="prkPlceInfoSn != null">prk_plce_info_sn = #{prkPlceInfoSn},</if>
            <if test="prkPlceManageNo != null">prk_plce_manage_no = #{prkPlceManageNo},</if>
            <if test="operDayCd != null">oper_day_cd = #{operDayCd},</if>
            <if test="weekdayOperTime != null">weekday_oper_time = #{weekdayOperTime},</if>
            <if test="satOperTime != null">sat_oper_time = #{satOperTime},</if>
            <if test="holidayOperTime != null">holiday_oper_time = #{holidayOperTime},</if>
            <if test="weekdayCloseTime != null">weekday_close_time = #{weekdayCloseTime},</if>
            <if test="satCloseTime != null">sat_close_time = #{satCloseTime},</if>
            <if test="holidayCloseTime != null">holiday_close_time = #{holidayCloseTime},</if>
            <if test="bscTime != null">bsc_time = #{bscTime},</if>
            <if test="bscCharge != null">bsc_charge = #{bscCharge},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="addCharge != null">add_charge = #{addCharge},</if>
            <if test="dayTicketTime != null">day_ticket_time = #{dayTicketTime},</if>
            <if test="dayTicketCharge != null">day_ticket_charge = #{dayTicketCharge},</if>
            <if test="monthTicketCharge != null">month_ticket_charge = #{monthTicketCharge},</if>
            <if test="payMthdCd != null">pay_mthd_cd = #{payMthdCd},</if>
            <if test="rmrk != null">rmrk = #{rmrk},</if>
            <if test="regDt != null">reg_dt = #{regDt},</if>
            <if test="rgstId != null">rgst_id = #{rgstId},</if>
            <if test="rgstIpAddr != null">rgst_ip_addr = #{rgstIpAddr},</if>
            <if test="updtDt != null">updt_dt = #{updtDt},</if>
            <if test="updusrId != null">updusr_id = #{updusrId},</if>
            <if test="updusrIpAddr != null">updusr_ip_addr = #{updusrIpAddr},</if>
        </set>
        WHERE oper_info_sn = #{operInfoSn}
    </update>

    <delete id="deleteOffstrPrklotOperInfo" parameterType="int">
        DELETE FROM tb_offstr_prklot_oper_info WHERE oper_info_sn = #{operInfoSn}
    </delete>
</mapper>
