<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <!-- MyBatis 쿼리 로그 -->
    <Logger name="com.psim.web.cmm.mapper" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <!-- 또는 패키지 전체 -->
    <Logger name="com.psim.web" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <!-- Spring/HikariCP -->
    <Logger name="org.springframework" level="INFO"/>
    <Logger name="com.zaxxer.hikari" level="DEBUG"/>
    
    <!-- Root -->
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>