<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psim.web.file.mapper.AttchPicMngInfoMapper">

    <!-- 🔥 최대 순번 조회 (주차장용) -->
    <select id="selectMaxSeqNo" resultType="java.lang.Integer">
        SELECT COALESCE(MAX(seq_no), 0)
        FROM cpk.tb_attch_pic_mng_info
        WHERE prk_plce_info_sn = #{prkPlceInfoSn}
        <if test="prkImgId != null and prkImgId != ''">
            AND prk_img_id = #{prkImgId}
        </if>
    </select>

    <!-- 🔥 최대 순번 조회 (이용실태용) -->
    <select id="selectMaxSeqNoForUsage" resultType="java.lang.Integer">
        SELECT COALESCE(MAX(seq_no), 0)
        FROM cpk.tb_attch_pic_mng_info
        WHERE cmpl_sn = #{cmplSn}
        <if test="prkImgId != null and prkImgId != ''">
            AND prk_img_id = #{prkImgId}
        </if>
    </select>


    <!-- 🔥 INSERT - cmpl_sn 추가 -->
    <insert id="insertAttchPicMngInfo" parameterType="com.psim.web.file.vo.AttchPicMngInfoVO">
        INSERT INTO cpk.tb_attch_pic_mng_info (
            prk_plce_manage_no,
            prk_plce_info_sn,
            prk_plce_type,
            prk_oper_type,
            seq_no,
            ext_nm,
            file_path,
            file_nm,
            real_file_nm,
            prk_img_id,
            cmpl_sn,
            attach_type,
            reg_dt,
            rgst_id,
            rgst_ip_addr
        ) VALUES (
                     #{prkPlceManageNo},
                     #{prkPlceInfoSn},
                     #{prkPlceType},
                     #{prkOperType},
                     #{seqNo},
                     #{extNm},
                     #{filePath},
                     #{fileNm},
                     #{realFileNm},
                     #{prkImgId},
                     #{cmplSn},
                     #{attachType},
                     NOW(),
                     #{rgstId},
                     #{rgstIpAddr}
                 )
    </insert>

    <!-- 🔥 SELECT - cmpl_sn으로도 조회 가능 -->
    <select id="selectAttchPicMngInfoList" resultType="com.psim.web.file.vo.AttchPicMngInfoVO">
        SELECT
        prk_plce_manage_no AS prkPlceManageNo,
        prk_plce_info_sn AS prkPlceInfoSn,
        prk_plce_type AS prkPlceType,
        prk_oper_type AS prkOperType,
        seq_no AS seqNo,
        ext_nm AS extNm,
        file_path AS filePath,
        file_nm AS fileNm,
        real_file_nm AS realFileNm,
        prk_img_id AS prkImgId,
        cmpl_sn AS cmplSn,
        attach_type AS attachType,
        reg_dt AS regDt,
        rgst_id AS rgstId,
        rgst_ip_addr AS rgstIpAddr,
        updt_dt AS updtDt,
        updusr_id AS updusrId,
        updusr_ip_addr AS updusrIpAddr
        FROM cpk.tb_attch_pic_mng_info
        WHERE 1=1
        <if test="prkPlceManageNo != null and prkPlceManageNo != ''">
            AND prk_plce_manage_no = #{prkPlceManageNo}
        </if>
        <if test="prkPlceInfoSn != null">
            AND prk_plce_info_sn = #{prkPlceInfoSn}
        </if>
        <if test="prkImgId != null and prkImgId != ''">
            AND prk_img_id = #{prkImgId}
        </if>
        <if test="seqNo != null">
            AND seq_no = #{seqNo}
        </if>
        <if test="cmplSn != null and cmplSn != ''">
            AND cmpl_sn = #{cmplSn}
        </if>
        ORDER BY seq_no ASC
    </select>
<!--
    &lt;!&ndash; 🔥 최대 순번 조회 - cmpl_sn 조건 추가 &ndash;&gt;
    <select id="selectMaxSeqNo" resultType="java.lang.Integer">
        SELECT COALESCE(MAX(seq_no), 0)
        FROM tb_attch_pic_mng_info
        WHERE 1=1
        <choose>
            <when test="cmplSn != null and cmplSn != ''">
                AND cmpl_sn = #{cmplSn}
            </when>
            <otherwise>
                AND prk_plce_info_sn = #{prkPlceInfoSn}
            </otherwise>
        </choose>
        <if test="prkImgId != null and prkImgId != ''">
            AND prk_img_id = #{prkImgId}
        </if>
    </select>-->

    <!-- 🔥 UPDATE -->
    <update id="updateAttchPicMngInfo" parameterType="com.psim.web.file.vo.AttchPicMngInfoVO">
        UPDATE cpk.tb_attch_pic_mng_info
        SET
        ext_nm = #{extNm},
        file_path = #{filePath},
        file_nm = #{fileNm},
        real_file_nm = #{realFileNm},
        updt_dt = NOW(),
        updusr_id = #{updusrId},
        updusr_ip_addr = #{updusrIpAddr}
        WHERE 1=1
        <choose>
            <when test="cmplSn != null and cmplSn != ''">
                AND cmpl_sn = #{cmplSn}
            </when>
            <otherwise>
                AND prk_plce_info_sn = #{prkPlceInfoSn}
            </otherwise>
        </choose>
        AND prk_img_id = #{prkImgId}
        AND seq_no = #{seqNo}
    </update>

    <!-- 🔥 DELETE -->
    <delete id="deleteAttchPicMngInfo">
        DELETE FROM cpk.tb_attch_pic_mng_info
        WHERE 1=1
        <choose>
            <when test="cmplSn != null and cmplSn != ''">
                AND cmpl_sn = #{cmplSn}
            </when>
            <otherwise>
                AND prk_plce_info_sn = #{prkPlceInfoSn}
            </otherwise>
        </choose>
        <if test="prkImgId != null and prkImgId != ''">
            AND prk_img_id = #{prkImgId}
        </if>
        <if test="seqNo != null">
            AND seq_no = #{seqNo}
        </if>
    </delete>

    <!-- 🔥 단속일련번호로 파일 목록 조회 -->
    <select id="selectAttchPicMngInfoListByCmplSn" resultType="com.psim.web.file.vo.AttchPicMngInfoVO">
        SELECT
        cmpl_sn AS cmplSn,
        prk_img_id AS prkImgId,
        seq_no AS seqNo,
        real_file_nm AS realFileNm,
        file_nm AS fileNm,
        file_path AS filePath,
        ext_nm AS extNm,
        reg_dt AS regDt,
        rgst_id AS rgstId,
        rgst_ip_addr AS rgstIpAddr
        FROM cpk.tb_attch_pic_mng_info
        WHERE cmpl_sn = #{cmplSn}
        <if test="prkImgId != null and prkImgId != ''">
            AND prk_img_id = #{prkImgId}
        </if>
        ORDER BY seq_no
    </select>

    <!-- 🔥 주차장 정보 일련번호로 사진 목록 조회 -->
    <select id="selectPhotosByPrkPlceInfoSn" resultType="map">
        SELECT
            prk_plce_info_sn AS prkPlceInfoSn,
            prk_img_id AS prkImgId,
            seq_no AS seqNo,
            real_file_nm AS realFileNm,
            file_nm AS fileNm,
            file_path AS filePath,
            ext_nm AS extNm,
            reg_dt AS regDt
        FROM cpk.tb_attch_pic_mng_info
        WHERE prk_plce_info_sn = #{prkPlceInfoSn}
        ORDER BY prk_img_id, seq_no
    </select>

    <!-- 🔥 사진 파일 데이터 조회 (prkPlceInfoSn + prkImgId + seqNo 복합키) -->
    <select id="selectPhotoFile" resultType="map">
        SELECT
            file_nm AS fileName,
            ext_nm AS extNm,
            file_path AS filePath,
            real_file_nm AS realFileNm
        FROM cpk.tb_attch_pic_mng_info
        WHERE prk_plce_info_sn = #{prkPlceInfoSn}
          AND prk_img_id = #{prkImgId}
          AND seq_no = #{seqNo}
    </select>

    <!-- 🔥 이용실태 파일 조회 (cmplSn + prkImgId + seqNo 복합키) -->
    <select id="selectPhotoFileForUsage" resultType="map">
        SELECT
            file_nm AS fileName,
            ext_nm AS extNm,
            file_path AS filePath,
            real_file_nm AS realFileNm
        FROM cpk.tb_attch_pic_mng_info
        WHERE cmpl_sn = #{cmplSn}
          AND prk_img_id = #{prkImgId}
          AND seq_no = #{seqNo}
    </select>

</mapper>
