<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psim.web.api.mapper.PrkApiInfoMapper">

    <select id="selectAllPrkApiInfos" resultType="com.psim.web.api.vo.PrkApiInfoVO">
        SELECT * FROM tb_prk_api_info
    </select>

    <select id="selectPrkApiInfoById" parameterType="int" resultType="com.psim.web.api.vo.PrkApiInfoVO">
        SELECT * FROM tb_prk_api_info WHERE api_info_sn = #{apiInfoSn}
    </select>

    <insert id="insertPrkApiInfo" parameterType="com.psim.web.api.vo.PrkApiInfoVO">
        INSERT INTO tb_prk_api_info (
            api_info_sn, api_nm, api_url, api_desc, use_yn, reg_dt, rgst_id,
            rgst_ip_addr, updt_dt, updusr_id, updusr_ip_addr
        ) VALUES (
            #{apiInfoSn}, #{apiNm}, #{apiUrl}, #{apiDesc}, #{useYn}, #{regDt}, #{rgstId},
            #{rgstIpAddr}, #{updtDt}, #{updusrId}, #{updusrIpAddr}
        )
    </insert>

    <update id="updatePrkApiInfo" parameterType="com.psim.web.api.vo.PrkApiInfoVO">
        UPDATE tb_prk_api_info
        <set>
            <if test="apiNm != null">api_nm = #{apiNm},</if>
            <if test="apiUrl != null">api_url = #{apiUrl},</if>
            <if test="apiDesc != null">api_desc = #{apiDesc},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="regDt != null">reg_dt = #{regDt},</if>
            <if test="rgstId != null">rgst_id = #{rgstId},</if>
            <if test="rgstIpAddr != null">rgst_ip_addr = #{rgstIpAddr},</if>
            <if test="updtDt != null">updt_dt = #{updtDt},</if>
            <if test="updusrId != null">updusr_id = #{updusrId},</if>
            <if test="updusrIpAddr != null">updusr_ip_addr = #{updusrIpAddr},</if>
        </set>
        WHERE api_info_sn = #{apiInfoSn}
    </update>

    <delete id="deletePrkApiInfo" parameterType="int">
        DELETE FROM tb_prk_api_info WHERE api_info_sn = #{apiInfoSn}
    </delete>
</mapper>
